h1 {
  width: auto;
  height: 100px;
  background-color: powderblue;
  text-align: center;
  border-bottom: blue solid 5px;
  padding-top: 20px;
}
icon-value {
  content : "\f0ae";
  text-align: center;
  color: blue;
}
head{
}
.container {
  width: 1000;
  height: 460px;
  background-color: skyblue;
}

.element {
  width: 290px;
  height: 290px;
  background-color: blue;
  margin: 2.5em;
  display: inline-block;
  margin-right: 30px;
  padding-right: 60px;
  margin-bottom: 90px;
  padding-bottom: 20px;
  border-radius: 5px;
  vertical-align: top;
}
